body {
    background-color: lightblue;
}

h1 {
    color: darkred;
    text-align: center;
    font-size: 60px;
}

p {
    font-family: verdana;
    font-size: 25px;
}

button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 2px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

hr {
    border: 2px dotted red;
    margin: 15px;
}

a {
    font-size: 25px;
}

a:hover {
    color: darkgreen;
}

li a {
    font-family: Arial;
    font-size: 30px;
}

li {
    font-family: Arial;
    font-size: 30px;
}

.scrn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 100;
    text-align: center;
    line-height: 90vh
}

.scrn.fadeout {
    opacity: 0;
    position: fixed;
    transition: all 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    text-align: center;
    line-height: 90vh
}

@keyframes fi {
    to {opacity: 1;}
}

.fadein {
    opacity: 0;
    color: white;
    animation: fi 1s ease-in forwards;
}